<footer class="footer">
  <div class="footer-container">
    <div class="networks-container">
      <ul class="networks-list">
        <li class="networks-item">
          <a class="networks-link" href="https://ua.linkedin.com/">
            <svg class="networks-icon" width="30px" height="30px">
              <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="networks-item">
          <a class="networks-link" href="https://twitter.com/">
            <svg class="networks-icon" width="30px" height="30px">
              <use href="./images/symbol-defs.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="networks-item">
          <a class="networks-link" href="https://www.facebook.com/">
            <svg class="networks-icon" width="30px" height="30px">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="networks-item">
          <a class="networks-link" href="https://www.instagram.com/">
            <svg class="networks-icon" width="30px" height="30px">
              <use href="./images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer-text">
        <li class="footer-item">Conditions of Use</li>
        <li class="footer-item">Privacy & Policy</li>
        <li class="footer-item">Press Room</li>
      </ul>
    </div>
  </div>
</footer>
