<section class="main-section">
        <div class="main-div">
          <h2 class="main-title">popular</h2>
          <a class="main-link" href="./popular.html">view all</a>
        </div>

          <div class="movies-container"></div>
      </section>
      </section>
      <section class="main-section">
        <div class="main-div">
          <h2 class="main-title">top rated</h2>
          <a class="main-link" href="./top-rated.html">view all</a>
        </div>
        <div class="top-container"></div>
      </section>
      <section class="main-section">
        <div class="main-div">
          <h2 class="main-title">upcoming</h2>
          <a class="main-link" href="./upcoming.html">view all</a>
        </div>
        <div class="upcoming-container"></div>
      </section>